<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Adicione uma nova Categoria :</h1>
    <form action="{{url_for('newCategory')}}" 
            method="POST">
            
            <p> Name : </p>
            <input type="text" name="name" size="30">

            <p>Description : </p> 
            <input type="text" name="description" size="30"> 
            
            <br>
            <br>

            <input type='submit' value='Create'>

    </form>

</body>
</html>